# Environment Files
.env

# Compiled object files
*.o
*.lo
*.la
*.al
*.i
*.ii
*.ll
*.s
*.ko
*.obj
*.elf
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa
*.dSYM

# Debug files
*.dSYM/

# Generated IDE files
*.idea/
*.vs/
*.vscode/

# Build directories
build/
bin/
lib/

# GTK-specific
*.goutputstream-*

# Logs and databases
*.log
*.sql
*.sqlite

# System-specific files
.DS_Store
Thumbs.db
